<form class="" action="/register" method="post">
  <label>email ID</label> <input type="text" name="email" value="">
  <label>Password</label> <input type="text" name="password" value="">
  <button type="submit" name="button">Login</button>
</form>
