<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid" >
      <a class="navbar-brand" style="margin-left:38rem;">Welcome to Gate Pass System</a>
        <button class="btn btn-outline-primary"  type="submit"><a href="/logout" > <i class="fa fa-edit"></i> Log Out</a></button>
    </div>
  </nav>